In [1]:
import sklearn
import sklearn.model_selection

In [2]:
from sklearn.model_selection  import train_test_split

In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
import matplotlib.pyplot as plt

В этом файле мы объединим два датасета 'df_result_sums.csv' и 'df_result_chqs.csv'. Объединение будет straightforward. Мы возьмем среднее по всем колонкам, кроме gone.  Для колонок gone используем логическое И

In [9]:
df_result_sums = pd.read_csv('df_result_sums.csv')

In [10]:
df_result_sums.head()

,Unnamed: 0,client_id,total_num_chqs,total_num_days,num_unique_goods,total_money_spent,total_is_promo_sum,trend_coef,sparsity,gone
0,0,0017fc4bd5cd39cdabf1346058878432,6,5,124,13241.0,8595.91,-1.225889,0.6875,1
1,1,001e30d6689fb2fd7e975fceeb2f955c,6,6,44,13199.0,12020.73,0.948557,0.6875,1
2,2,001fe3052eb78fec982d5e97c469750a,48,33,82,8989.0,2687.47,0.223384,0.0625,0
3,3,003c08e22f0ae7e8db9340de0a7ed78b,28,24,615,112286.0,37123.21,-0.087954,0.1250,0
4,4,003ca86df9b560a6581de2ccaf9870fd,11,8,48,24725.0,22802.46,1.040081,0.5000,1

In [7]:
df_result_chqs = pd.read_csv('df_result_chqs.csv')

In [11]:
df_result_chqs.head()

,Unnamed: 0,client_id,total_num_chqs,total_num_days,num_unique_goods,total_money_spent,total_is_promo_sum,trend_coef,sparsity,gone
0,0,000ff71a020b2e94076c4883341fc3dd,42,38,253,55551.92,28691.36,-0.190488,0.2500,0
1,1,001e30d6689fb2fd7e975fceeb2f955c,8,8,53,14466.00,12499.75,0.948557,0.6875,1
2,2,001fe3052eb78fec982d5e97c469750a,55,40,89,10406.00,3683.69,0.223384,0.0625,0
3,3,002cf7c9673c341750743a0ed04297e3,72,54,340,67560.00,24868.25,0.096735,0.0000,0
4,4,002eb4937945b65ecc5607003ada8b2f,48,36,142,23838.00,14708.04,-0.201393,0.4375,1

In [12]:
common_clients= np.array(list(set(df_result_chqs.client_id.values) &  set(df_result_sums.client_id.values) ))

In [14]:
len(common_clients), len(df_result_chqs.client_id.values), len(df_result_sums.client_id.values)

(79069, 79550, 79409)

In [15]:
df_result_sums_cut = df_result_sums[df_result_sums.client_id.isin(common_clients)]

In [16]:
df_result_chqs_cut = df_result_chqs[df_result_chqs.client_id.isin(common_clients)]

In [25]:
df_result_chqs_cut_sorted = df_result_chqs_cut.sort_values(by=['client_id'])

df_result_sums_cut_sorted = df_result_sums_cut.sort_values(by=['client_id'])

In [26]:
df_result_sums_cut_sorted

,Unnamed: 0,client_id,total_num_chqs,total_num_days,num_unique_goods,total_money_spent,total_is_promo_sum,trend_coef,sparsity,gone
23627,23627,0000d48a8891cd462fdf01ea861ec53e,18,15,202,38998.00,21213.86,0.366275,0.1250,0
23628,23628,00028a1dcb30863404a386961a69300e,13,10,141,27514.00,17900.15,1.739914,0.5000,0
23629,23629,0004274683494a9eca5e70ef97299d55,64,57,254,36682.00,18280.07,0.756011,0.0000,0
23630,23630,00072f81efcb3481861f7300c5e2a88a,3,3,9,1767.00,78.99,-1.095642,0.8125,1
23631,23631,00076596eb749cf10c2e984621dffe95,58,44,348,75291.46,42130.44,0.282635,0.0000,0
...,...,...,...,...,...,...,...,...,...,...
79406,79406,fff9c0126292c7cc93ca9ce72f3829a5,13,11,170,22414.00,15944.21,-0.518069,0.5000,0
79407,79407,fffa0cff52ebf9897f1c1dd4fe608aa8,7,6,51,5571.00,2669.51,-0.075390,0.6250,0
6843,6843,fffb2f36eb72ff56d2ef7a2685714f01,11,9,117,24226.00,12704.42,1.823330,0.5000,1
5094,5094,fffb50df95231c0f090b5aa3f5332c7f,11,8,38,3126.00,820.62,-1.964171,0.5625,1
79408,79408,fffc3f2be1422d248dbeda4196ef0711,15,15,53,13880.00,2241.85,0.907205,0.3125,0

In [29]:
df_result_chqs_cut_sorted

,Unnamed: 0,client_id,total_num_chqs,total_num_days,num_unique_goods,total_money_spent,total_is_promo_sum,trend_coef,sparsity,gone
23908,23908,0000d48a8891cd462fdf01ea861ec53e,18,15,202,38998.00,21213.86,0.366275,0.1250,0
23909,23909,00028a1dcb30863404a386961a69300e,13,10,141,27514.00,17900.15,1.739914,0.5000,0
23910,23910,0004274683494a9eca5e70ef97299d55,64,57,254,36682.00,18280.07,0.756011,0.0000,0
23911,23911,00072f81efcb3481861f7300c5e2a88a,3,3,9,1767.00,78.99,-1.095642,0.8125,1
23912,23912,00076596eb749cf10c2e984621dffe95,58,44,348,75291.46,42130.44,0.282635,0.0000,0
...,...,...,...,...,...,...,...,...,...,...
79546,79546,fff9c0126292c7cc93ca9ce72f3829a5,13,11,170,22414.00,15944.21,-0.518069,0.5000,0
79547,79547,fffa0cff52ebf9897f1c1dd4fe608aa8,7,6,51,5571.00,2669.51,-0.075390,0.6250,0
79548,79548,fffb2f36eb72ff56d2ef7a2685714f01,7,7,93,24138.00,12065.93,1.978126,0.6250,0
7816,7816,fffb50df95231c0f090b5aa3f5332c7f,17,13,158,19016.00,7108.21,-1.964171,0.5625,1
79549,79549,fffc3f2be1422d248dbeda4196ef0711,15,15,53,13880.00,2241.85,0.907205,0.3125,0

In [33]:
False in (df_result_chqs_cut_sorted.client_id.values == df_result_sums_cut_sorted.client_id.values)

False

In [37]:
df_result_chqs_cut_sorted.columns

Index(['Unnamed: 0', 'client_id', 'total_num_chqs', 'total_num_days',
       'num_unique_goods', 'total_money_spent', 'total_is_promo_sum',
       'trend_coef', 'sparsity', 'gone'],
      dtype='object')

In [39]:
merged = pd.merge(df_result_chqs_cut_sorted[['total_num_chqs', 'total_num_days',
       'num_unique_goods', 'total_money_spent', 'total_is_promo_sum',
       'trend_coef', 'sparsity', 'gone']],
         df_result_chqs_cut_sorted[['total_num_chqs', 'total_num_days',
       'num_unique_goods', 'total_money_spent', 'total_is_promo_sum',
       'trend_coef', 'sparsity', 'gone']],
         on = df_result_sums_cut.client_id)

In [40]:
merged

,key_0,total_num_chqs_x,total_num_days_x,num_unique_goods_x,total_money_spent_x,total_is_promo_sum_x,trend_coef_x,sparsity_x,gone_x,total_num_chqs_y,total_num_days_y,num_unique_goods_y,total_money_spent_y,total_is_promo_sum_y,trend_coef_y,sparsity_y,gone_y
0,0017fc4bd5cd39cdabf1346058878432,18,15,202,38998.00,21213.86,0.366275,0.1250,0,18,15,202,38998.00,21213.86,0.366275,0.1250,0
1,001e30d6689fb2fd7e975fceeb2f955c,13,10,141,27514.00,17900.15,1.739914,0.5000,0,13,10,141,27514.00,17900.15,1.739914,0.5000,0
2,001fe3052eb78fec982d5e97c469750a,64,57,254,36682.00,18280.07,0.756011,0.0000,0,64,57,254,36682.00,18280.07,0.756011,0.0000,0
3,003c08e22f0ae7e8db9340de0a7ed78b,3,3,9,1767.00,78.99,-1.095642,0.8125,1,3,3,9,1767.00,78.99,-1.095642,0.8125,1
4,003ca86df9b560a6581de2ccaf9870fd,58,44,348,75291.46,42130.44,0.282635,0.0000,0,58,44,348,75291.46,42130.44,0.282635,0.0000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79064,fff4ea33ae6ab55db56be5e36fc31b76,13,11,170,22414.00,15944.21,-0.518069,0.5000,0,13,11,170,22414.00,15944.21,-0.518069,0.5000,0
79065,fff75c8fb7b2727703a87db886b99c87,7,6,51,5571.00,2669.51,-0.075390,0.6250,0,7,6,51,5571.00,2669.51,-0.075390,0.6250,0
79066,fff9c0126292c7cc93ca9ce72f3829a5,7,7,93,24138.00,12065.93,1.978126,0.6250,0,7,7,93,24138.00,12065.93,1.978126,0.6250,0
79067,fffa0cff52ebf9897f1c1dd4fe608aa8,17,13,158,19016.00,7108.21,-1.964171,0.5625,1,17,13,158,19016.00,7108.21,-1.964171,0.5625,1
79068,fffc3f2be1422d248dbeda4196ef0711,15,15,53,13880.00,2241.85,0.907205,0.3125,0,15,15,53,13880.00,2241.85,0.907205,0.3125,0

In [50]:
resulting_df = pd.DataFrame()
resulting_df['client_id'] = merged['key_0']

In [51]:
cols = ['total_num_chqs', 'total_num_days',
       'num_unique_goods', 'total_money_spent', 'total_is_promo_sum',
       'trend_coef', 'sparsity']

In [52]:
for col_name in cols:
    
    col_name_x = col_name + '_x'
    col_name_y = col_name + '_y'
    
    resulting_df[col_name] = (merged[col_name_x] + merged[col_name_y])/2

In [55]:

resulting_df['gone'] = merged['gone_x'] & merged['gone_y']

In [58]:
resulting_df['gone'].sum()/resulting_df['gone'].count()

0.4212396767380389

In [59]:
resulting_df.to_csv('mean_data_of_sums_chqs.csv')